nav {
  position: sticky;
  display: flex;
  background-color: black;
  margin:0;
}

nav a, nav img {
  margin-right:17%;
}

nav a {
  top: 50%;
  transform: translateY(25%);
  color: white;
  text-decoration: none;
}

html, body {
  margin:0;
  padding:0;
}

.buttonClass {
  font-size:17px;
  font-family:Arial;
  width:187px;
  height:80px;
  border-width:0px;
  color:#fff;
  border-color:rgba(105, 151, 100, 1);
  font-weight:bold;
  border-top-left-radius:17px;
  border-top-right-radius:17px;
  border-bottom-left-radius:17px;
  border-bottom-right-radius:17px;
  box-shadow:inset 0px 0px 15px 3px rgba(17, 63, 23, 1);
  text-shadow:inset 0px 1px 0px rgba(4, 5, 8, 1);
  background:linear-gradient(rgba(120, 231, 117, 1), rgba(27, 53, 27, 1));
}

.buttonClass:hover {
  background: linear-gradient(rgba(27, 53, 27, 1), rgba(120, 231, 117, 1));
}
